.herobanner {
    
}

.herotext {
    z-index: 1;
}

.herobanner::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient( to top, rgb(0 4 15) 20%, transparent);
    z-index: 999;
}