/* SLIDER */
.slider {
    /* height: 100vh; */
    /* margin-top: -100px; */
    /* position: relative; */
}

.slider .list .item {
    /* position: absolute; */
    /* inset: 0 0 0 0; */
    /* overflow: hidden; */
    opacity: 0;
    /* transition: 0.5; */
}

.slider .list .item img {
    /* width: 100%; */
    /* height: 100%; */
    opacity: 0;
    /* object-fit: cover; */
}

.slider .list .item::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient( to top, rgb(0 4 15) 20%, transparent);
}

.slider .list .item .content {
    /* position: absolute; */
    /* left: 20%; */
    /* top: 20%; */
    /* width: 500px; */
    /* max-width: 80%; */
    /* z-index: 1; */
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 68px;
    /* margin: 0; */
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active p:nth-child(3),
.slider .list .item.active h2 {
    transform: translateY(-30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active img {
    opacity: 1;
    animation: showImage 1 .5 ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-delay: 1.3s;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }    
    from {

    }
}

@keyframes showImage {
    to {
        opacity: 1;
    }    
    from {

    }
}

.arrows {
    position: absolute;
    bottom: 160px;
    left: 20%;
    z-index: 100;
}

.arrows button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: #000;
}

.thumbnail {
    position: absolute;
    /* bottom: 180px; */
    /* left: 20%; */
    /* z-index: 11; */
    /* display: flex; */
    /* gap: 10px; */
    justify-content: center;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5)
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
    }

    .header {
        grid-template-columns: 1fr 50px;
    }
}

@media screen and (max-width: 1440px) {
    .arrows {
        top: 20%;
        left: 80%;
    }
}

@media screen and (max-width: 1440px) {
    .arrows {
        top: 20%;
        left: 80%;
    }
}

@media screen and (max-width: 648px) {
    .arrows {
        top: 20%;
        left: 70%;
    }

    .content {
        left: 10%!important;
    }

    .thumbnail {
        bottom: -30px!important;
    }
}

@media screen and (max-width: 648px) {
    .thumbnail {
        bottom: -60px!important;
    }
}